<div class="flex flex-col gap-2 transition-all duration-300 ease-in-out w-full">
  <a
    [routerLink]="'/view/' + task.id"
    routerLinkActive="bg-gray-900 text-[#49e6a3]"
    class="bg-gray-800 flex items-center justify-between text-gray-200 hover:bg-gray-900 w-full p-1 rounded-lg truncate transition-all duration-300 ease-in-out"
  >
    {{ task.title }}
    @if(task.isCompleted){
    <span>&#10003;</span>
    }
  </a>

  <div
    *ngFor="let item of task.children; let i = index"
    class="pl-4 border-l border-gray-600"
  >
    <app-sidebar-task-item [task]="item"></app-sidebar-task-item>
  </div>
</div>
