<section
  [routerLink]="'/view/' + item.id"
  class="shadow-lg relative hover:scale-105 transition-all duration-300 ease-in-out max-w-sm h-[300px] bg-white/30 backdrop-blur-md rounded-lg p-5 flex flex-col justify-between"
  [ngClass]="item.isCompleted ? 'bg-yellow-50' : 'bg-white/30'"
>
  <button
    class="w-6 h-6 absolute top-0.5 p-0 right-0.5 z-2 flex items-center justify-center rounded-full hover:bg-sky-300"
    [ngClass]="item.isCompleted ? 'bg-white border-2' : 'bg-sky-200'"
    (click)="onTaskToggle($event, item.id)"
  >
    <img
      *ngIf="item.isCompleted"
      class="w-5 h-5"
      src="/mark.svg"
      alt="completed"
    />
    <img
      *ngIf="!item.isCompleted"
      class="w-5 h-5"
      src="/square-check.svg"
      alt="not completed"
    />
  </button>

  <div>
    <h6 class="text-[#536e64] font-bold text-lg mb-2">
      <span class="opacity-80">
        {{ sNo }}
      </span>
      {{ item.title.slice(0, 10) + "..." }}
    </h6>
    <p class="text-sm text-[#536e64] mb-3">
      {{ item.description.slice(0, 20) + "..." }}
    </p>
    <p class="text-xs text-gray-500">
      {{ item.date | date : "MMM d, yy" }}
    </p>
    <p *ngIf="item.isCompleted" class="p-1 text-center text-xs text-gray-300">
      Task completed
    </p>
  </div>

  <div class="flex items-center justify-between gap-2 mt-4">
    <button
      (click)="onDelete($event, item.id)"
      class="w-8 h-8 flex items-center justify-center bg-rose-400 rounded-full"
    >
      <img class="w-5 h-5" src="/delete.svg" alt="delete" />
    </button>
  </div>
</section>
