<main>
  <input placeholder="Enter task" type="text" />
  <button>Add</button>
  <select name="" id=""></select>
  <h3>jskldjfklsjdlfjsldj</h3>

  <div class="container">
    <i class="fas fa-user" style="font-size: 60px"> </i>
    <i class="fas fa-user" style="font-size: 54px"> </i>
    <i class="fas fa-user" style="font-size: 48px"> </i>
  </div>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
    possimus, mollitia nisi repellendus eaque at, cumque architecto est tenetur
    dicta facere fugiat earum repudiandae amet totam. Placeat ipsum adipisci
    unde autem modi saepe.
  </p>
</main>
