<div class="w-full flex flex-col gap-5">
  <button (click)="onOpenModal()" class="w-1/2 md:w-1/4 ml-auto">
    Create Task
  </button>

  <div
    *ngIf="tasks.length > 0"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2 md:gap-4 h-full w-full"
  >
    <div *ngFor="let item of tasks; let sn = index" class="w-full h-full">
      <app-task-card [sNo]="sn + 1" [item]="item"></app-task-card>
    </div>
  </div>

  <div
    *ngIf="tasks.length === 0"
    class="flex flex-col items-center justify-center text-center h-96"
  >
    <img src="/not-found.png" alt="No tasks" class="w-1/2 mb-5" />
    <h3 class="text-gray-700 text-lg font-semibold">No tasks available</h3>
    <p class="text-gray-500">
      You have not created any tasks yet. Start by adding a new task!
    </p>
    <button (click)="onOpenModal()" class="w-1/2">Create Task</button>
  </div>
</div>
