@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@fortawesome/fontawesome-free/css/all.css";






/* Global Styling for Root, Body, and HTML */
:root, body, html {
    height: 100%;
    width: 100%;
    @apply bg-gradient-to-br from-[#49e6a3] to-[#d6fdeb] via-[#aaf4d5] text-[#536e64] text-lg font-serif;
}

/* Button Styling */
button {
    /* @apply bg-[#3ed190] text-white py-2 px-4 rounded-lg text-base hover:bg-[#33a974] hover:shadow-lg hover:ring-2 hover:ring-[#aaf4d5] focus:outline-none transition duration-300 ease-in-out; */
    @apply w-full disabled:bg-gray-300 py-3 bg-[#49e6a3] text-white rounded-lg font-semibold hover:bg-[#3ed190] shadow-lg transition duration-300 ease-in-out transform hover:scale-105 disabled:hover:bg-gray-300 disabled:hover:scale-100
}

/* Headings (h2) */
h2,h1,h3,h4,h5,h6 {
    @apply  font-bold font-sans text-[#536e64] mb-4;
}

/* Input Fields */
input {
    @apply  w-full p-3 rounded-lg border border-gray-300 bg-white/60 text-[#536e64] focus:outline-none focus:ring-2 focus:ring-[#49e6a3] placeholder-gray-500 ease-in-out transition-all duration-300;
}

/* Select Dropdown */
select {
    @apply  p-2 border border-[#aaf4d5] rounded-md bg-white focus:ring-2 focus:ring-[#49e6a3] focus:outline-none transition duration-200 ease-in-out;
}

/* Textarea */
textarea {
    @apply w-full p-3 h-20 resize-none rounded-lg border border-gray-300 bg-white/60 text-[#536e64] focus:outline-none focus:ring-2 focus:ring-[#49e6a3] placeholder-gray-500 transition duration-300 ease-in-out;
}

/* Anchor Tags (Links) */
a {
    @apply text-[#49e6a3] hover:no-underline hover:text-[#3ed190]  transition-all duration-200 ease-in-out;
}

/* General Styling for Repeated Tags (optional) */
p {
    @apply mb-4 text-[#536e64];
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
